{% extends 'base.html' %}

    {% block content %}
    <div class="search-container">
        <div class="search-form-container">
            <h2>Looking for a specific anime?</h1>
            <form method="POST" class="search-form">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            <div class="">
            {{ field(placeholder=field.label.text) }} <br>
            </div>
            {% endfor %}
            <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        
        <div class="test"></div>
        <section class="search-anime-cards-container">
        {% for anime in anime_search_list %}
        <div class="anime-card">   
            <div class="anime-card-image" style="background-image: url({{anime[3]}});"></div>
                <div class="anime-card-content">
                    <div class="anime-card-title"><a href="/animes/{{ anime[0] }}">{{anime[1]}}</a></div>
                    <div class="anime-card-genre">{{anime[5]}}</div>
                    <div class="anime-card-description">{{anime[2]}}</div>
                </div>
            <div class="anime-card-footers">
                <span class="anime-card-avg-rating"> Avg. Rating {{anime[4]}}</span>
                <form action="/users/{{ anime[0] }}/add" method="POST">
                <span class="add-to-watch"><button>Add to watch list</button></span>
                </form> 
            </div>
        </div> 
        {% endfor  %}
        </section>
    </div>
    {% endblock %}

